<?xml version="1.0"?>
<!-- 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_UspsEndiciaShipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_UspsEndiciaShipping::postage" title="Manage Endicia Account" module="Webkul_UspsEndiciaShipping" sortOrder="1" parent="Webkul_UspsEndiciaShipping::manager" action="endicia/account" resource="Webkul_UspsEndiciaShipping::postage"/>
        <add id="Webkul_UspsEndiciaShipping::manager" title="USPS Endicia Management" module="Webkul_UspsEndiciaShipping" sortOrder="11" resource="Webkul_UspsEndiciaShipping::parent"/>
    </menu>
</config>